.cartSection {
  flex: 1;
  background-color: aliceblue;
}
.tableCaption {
  background-color: lightgrey;
  text-align: center;
}
td {
  max-width: 50px;
  text-align: center;
  border: 1px solid grey;
  border-width: 1px !important;
}
input {
  width: 100%;
}
