.itemsSection {
  flex: 2;
  background-color: red;
}
.gridLayout {
  display: grid;
  max-width: 1500px;
  justify-content: center;
  grid-template-columns: repeat(3, 25%);
  column-gap: 5rem;
  row-gap: 0px;
  margin: 0 auto;
}
p {
  background-color: white;
}
